.toolbar-css{
    background-color: #000;
    color: #fff;
}
.header-img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 2px;
    right: 10px;
}
.seprator{
    height: 20px;
    width: 0.08px;
    background-color: #fff;
    position: relative;
    right: 15px;
}
.spacer {
    flex: 1 1 auto;
}