.file-card{
    margin-bottom: 1em;
}
.full-width{
    width: 100%;
}
pre {
    white-space: pre-wrap;
}
.PreElementCss{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding: 1em 0 0 1em;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.scrolling-enable{
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}
.text-right{
    text-align: right;
}
.mt-1{
    margin-top: 1em;
}
.p-1{
    padding: 1em !important;
}