<mat-card class="file-card">
	<div fxLayout="row">
		<div fxFlex>
			<input #fileInput id="inputTypeFile" class="form-control" accept=".pdf" type="file" (change)="onChange($event)">
			<button mat-raised-button class="btn-color" (click)="onUpload()" [disabled]="!file">{{uploadButton}}</button>
		</div> 
		<div fxFlex="10">
			<button mat-raised-button class="btn-color" (click)="saveActualPrediction()" [disabled]="arr.length<1">{{'Save'}}</button>
		</div>
	</div>
</mat-card>
<div fxLayout="row" fxLayoutAlign="space-around center" [ngClass]="{'loader':isLoading}">
	<mat-spinner *ngIf="isLoading" diameter="50" strokeWidth="5"></mat-spinner>
</div>
<mat-card *ngIf="tableData.length>0" class="table-card">
	<div fxLayout="row">
		<div fxFlex>
			<app-table (onCategoryUpdate)="onCategoryUpdate($event)" [tableData]="tableData" *ngIf="tableData"></app-table>
		</div>
	</div>
</mat-card>

<textarea cols="50" rows="10" hidden>a</textarea>
<div id="div" hidden></div>
<div *ngIf="tableData.length>0" fxLayout="row" class="p-1 download-btn-div" [ngClass]="{'PreElementCss':isPreElementCss}">
	<div fxFlex class="text-right">
		<button mat-raised-button class="btn-color" *ngIf="tableData" (click)="downloadFile()">{{downloadButton}}</button>
	</div>
</div>

<div *ngIf="tableData.length>0" fxLayout="row" class="document-div" [ngClass]="{'PreElementCss':isPreElementCss}">
	<div fxFlex class="scrolling-enable">
		<pre id="pre-element"></pre>
	</div>
</div>