<mat-card class="file-card">
	<div fxLayout="row">
		<div fxFlex>
			<input #fileInput class="form-control" accept=".txt,.json" type="file" (change)="onChange($event)">
			<button mat-raised-button class="btn-color" (click)="onUpload()" [disabled]="!file">{{uploadButton}}</button>
			<!-- <a id="a2" download="Download.doc" type="application/msword">Download doc (via Blob)</a> -->
		</div> 
	</div>
</mat-card>

<mat-card *ngIf="tableData" class="table-card">
	<div fxLayout="row">
		<div fxFlex>
			<app-table (onCategoryUpdate)="onCategoryUpdate($event)" [tableData]="tableData" *ngIf="tableData"></app-table>
		</div>
	</div>
</mat-card>

<textarea cols="50" rows="10" hidden>a</textarea>

<div fxLayout="row" class="p-1 download-btn-div" [ngClass]="{'PreElementCss':isPreElementCss}">
	<div fxFlex class="text-right">
		<button mat-raised-button class="btn-color" *ngIf="tableData" (click)="downloadFile()">{{downloadButton}}</button>
	</div>
</div>

<div fxLayout="row" class="document-div" [ngClass]="{'PreElementCss':isPreElementCss}">
	<div fxFlex class="scrolling-enable">
		<pre id="pre-element"></pre>
	</div>
</div>
