<div mat-dialog-content>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Category</mat-label>
        <mat-select (selectionChange)="getCategory($event)" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let item of list" value="{{item}}"> {{item}} </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="width-100">
        <mat-label>Text</mat-label>
        <textarea id="text" matInput matTextareaAutosize="false" [(ngModel)]="textAreaValue" (keydown)="onKeyDown()" (paste)="onPaste($event)"></textarea>
    </mat-form-field>
</div>
<div fxLayout="row">
    <div fxFlex class="dialog-buttons">
        <button mat-raised-button (click)="cancel()">{{dialogButton.cancel}}</button>
        <button *ngIf="data.mode ==='edit'" mat-raised-button class="update-button btn-color" (click)="update()" [disabled]="isDisabled()" cdkFocusInitial>{{dialogButton.ok}}</button>
        <button *ngIf="data.mode ==='add'" mat-raised-button class="update-button btn-color" (click)="add()" [disabled]="isDisabled()" cdkFocusInitial>{{dialogButton.add}}</button>
    </div>
</div>