.data-table {
  width: 100%;
}

::ng-deep .data-table thead{
  background: #f4f1f4;
}

.data-table th{
  color: #000;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.input-container {
  font-size: 14px;
  width: 100%;
}

.data-table td:nth-of-type(3){
  width: 50%;
}

.toggle-button, .edit-icon {
  text-align: right;
}

.content-div {
  margin-top: 1em;
}

.table-container{
  height: 400px;
  overflow-y: auto;
}

.value-column{
  width: 50%;
}

::ng-deep .mat-header-cell.text-center, .mat-cell.text-center{
  text-align: center;
}