table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .toggle-button{
    text-align: right;
  }

  span{background: red;}

  @media print {
    body {-webkit-print-color-adjust: exact;}
    }