.data-table {
  width: 100%;
}

.input-container {
  font-size: 14px;
  width: 100%;
}

.data-table td,
.data-table th {
  width: 25%;
}

.toggle-button, .edit-icon {
  text-align: right;
}

.content-div {
  margin-top: 1em;
}