.data-table {
  width: 100%;
}

.input-container {
  font-size: 14px;
  width: 100%;
}

/* .data-table td,
.data-table th {
  width: 25%;
} */ 
.data-table td:nth-of-type(3){
  width: 50%;
}

.toggle-button, .edit-icon {
  text-align: right;
}

.content-div {
  margin-top: 1em;
}